body { background: #d2d2c1 url('../projetopersonaltrainer/fundo.png');
     
     font: 16px Arial, Helvetica, sans-serif;

}

#principal{ 
	width: 900px; }


#menu {
	background: #00008b;
	padding: 18px;
}

#conteudo { 
	background: #e8e8d9;
	padding: 10px;
	
 }

a{ color: #4b566a;
	text-decoration: none;
	font-weight: bold;
	padding: 12px;

 }

 #rodape {text-align: center;
 }

 h1 {
 	color: #828271; 
 	font-size: 1.2em; 
 }

 .img-personaltrainer1 {
 	border: 10px solid #c3c3ae;
 }

 .img-musculacao { 
 border: 10px solid #c3c3ae;
  }

  .img-personaltrainer3 {
  	border: 10px solid #c3c3ae;
  }